@import "../../../styles/mixins/mixins";

.AnswerEntry {
  position: relative;
  overflow: hidden;
  text-align: left;
  margin-top: 16px;

  @media (min-width: $bpMobile) {
    margin: 16px;
  }

  input {
    @include formInput();
    flex: 1;
    min-width: 0 !important;
    margin-right: 8px;
  }
}

.answer {
  position: relative;
  width: 100%;
  min-height: 40px;
  //display: flex;
  //justify-content: center;
  //align-items: center;
  //flex-direction: column;
  text-align: left;

}

.question {
  font-weight: bold;
  margin-bottom: 16px;
  text-align: left;
}

.editBar {
  position: absolute;
  right: 8px;
  bottom: 8px;
  display: flex;
  border-radius: var(--border-radius);
  flex-direction: row;
  //justify-content: space-evenly;
  justify-content: center;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s all ease-in-out;

  .AnswerEntry:hover & {
    visibility: visible;
    opacity: 1;
  }

  > * {
    background: var(--btn-bg-selected) !important;
    opacity: 1 !important;
    margin-left: 8px !important;

    img {
      opacity: .8 !important;
    }

    &:first-child {
      margin-left: 0 !important;
    }
  }
}


.editModeWrapper {
  animation: minded6622fadeIn ease .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: stretch;

  //position: absolute;
  //top: 0;
  //left: 50%;
  //transform: translateX(-50%);
  //// leave enough space for btn anis
  //padding: 8px;
  //max-width: 100%;
  //box-sizing: border-box;
  width: 100%;

  :global {
    animation-name: minded6622fadeIn;
  }
}
