@import "../../../styles/mixins/mixins";

.AnswerEntry {
  position: relative;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 16px;
  cursor: pointer;

  @media (min-width: $bpMobile) {
    margin: 16px;
  }

  input {
    @include formInput();
    flex: 1;
    min-width: 0 !important;
    margin-right: 8px;
  }
}

.answer {
  position: relative;
  width: 100%;
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.question {
  font-weight: bold;
  margin-bottom: 8px;
}

.editBar {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  animation: minded6622fadeIn ease 400ms;
  border-radius: var(--border-radius);
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1;

  :global {
    animation-name: minded6622fadeIn;
  }

  > * {
    background: var(--btn-bg-selected) !important;
    opacity: 1 !important;
    //margin-left: 8px !important;

    &:first-child {
      margin-left: 0 !important;
    }
  }
}


.editModeWrapper {
  animation: minded6622fadeIn ease .3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  display: flex;
  align-items: center;
  justify-content: stretch;

  //position: absolute;
  //top: 0;
  //left: 50%;
  //transform: translateX(-50%);
  //// leave enough space for btn anis
  //padding: 8px;
  //max-width: 100%;
  //box-sizing: border-box;
  width: 100%;

  :global {
    animation-name: minded6622fadeIn;
  }
}
