@import "../../../styles/mixins/mixins";

.AnswerListEditable {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 42rem;
  width: 100%;
}

.addItem {
  margin-top: var(--space-lg);
}

.addAction {
  text-align: center;
}

.answerList {
  display: flex;
  flex-direction: column;
}

.emptyState {
  color: var(--h4-c);
  font-size: var(--fz-m);
  font-weight: 300;
  margin: var(--space-2xl) var(--space-md) var(--space-xl);
  text-align: center;
}
