#minded-6622-coloured-wrapper-dynamic,
#minded-6622-coloured-wrapper {
  position: fixed;
  z-index: 2147483647;
  z-index: 9999999999999999;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  text-align: center;
  background: linear-gradient(135deg, #74bddb 0%, #a8d1eb 32%, #cddbf5 56%, #e4e6fb 73%, #f6f4f8 100%);
  //background: linear-gradient(90deg, #cfecd0, #ffc5ca);
  //background: linear-gradient(90deg, #cfecd0, #ffc5ca, #e6ea9b);
  background: linear-gradient(180deg, #cfecd0, #ffc5ca, #e6ea9b);
  //background: linear-gradient(180deg, #b1dae7, #ffc5ca, #e6ea9b);
  background-size: 100% 130%;
}

#minded-6622-coloured-wrapper-dynamic {
  background: linear-gradient(180deg, #cfecd0, #ffc5ca, #e6ea9b);
  background-size: 100% 250%;
  animation: minded6622gradient 8s ease-in infinite;
  // NOTE currently conflicting with slow fadeout
  //animation: minded6622gradient 8s ease-in infinite, minded6622fadeIn 1s ease ;
}


@keyframes minded6622gradient {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}


//@keyframes minded6622fadeIn {
//  0% {
//    opacity: 0;
//  }
//  100% {
//    opacity: 1;
//  }
//}
