@import "./../../../styles/mixins/_mixins.scss";

.AnswerList {

}

.userQuote {
  margin-top: 16px;
  font-size: 22px;
}

.categoryTitle {
  @include h4();
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 20px;
}


