@import "./../../../styles/mixins/_mixins.scss";

.RndQuote {

}


.txt {
  font-style: italic;
}

.author {
  margin-top: 16px;
  font-weight: 200;
}

.tipH {
  @include h4();
  margin-bottom: 8px;
}
