#minded-6622-browsing-behavior-rating {

  .minded-6622-browsing-behavior-rating-btns {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
  }


  .minded-6622-browsing-behavior-rating-btn {
    @include btnTxt();
    margin: 16px;
    user-select: none;
    text-transform: lowercase;
    min-width: 100px;
    transition: .2s all;

    &.isSelected {
      background: var(--btn-bg-selected);
      opacity: 1;
      font-weight: 500;
      border-radius: 16px;
      transform: scale(1.1);
    }
  }
}