@import "./../../../styles/mixins/_mixins.scss";

.WebsiteListItem {
  display: flex;
  gap: 8px;
  align-items: center;

  input {
    background: transparent;
    border: 1px solid;
    border-radius: var(--border-radius);
    padding: 4px 12px;
    transition: 0.1s;
    font-weight: bold;
    @include formInput(40px);


    &:focus {
      transform: scale(1.05);
      outline: none;
    }
  }

  .btn-ico-small {
    margin-left: 16px;
  }
}
