@import "./../../../styles/mixins/_mixins.scss";

.WebsiteListItem {
  display: flex;
  gap: 8px;
  align-items: center;
  max-width: 100%;
  min-height: 0;
  min-width: 0;

  input {
    @include formInput(40px);
    background: transparent;
    border-radius: var(--border-radius);
    padding: 4px 12px;
    transition: 0.1s;
    font-weight: bold;
    flex: 1;
    flex-shrink: 1;

    &:focus {
      transform: scale(1.05);
      outline: none;
    }
  }

  .btn-ico-small {
    flex-shrink: 1; // Add this line
    margin-left: 16px;
  }
}
