#minded-6622-questions-for-today {
  --fz-l: 20px;

  > * {
    margin-bottom: 48px !important;
  }

  .minded-6622-mood-checkin-btns {
    margin-bottom: 0 !important;
  }

  #minded-6622-inp div,
  .btn-big,
  .minded-6622-textarea-block,
  .minded-6622-btns {
    display: none !important;
  }
}