// NOTE: styles for question work differently since we're using them for the content-script


#minded-6622-coloured-wrapper > * {
  cursor: auto;
}


#minded-6622-little-sun-success-sun,
#minded-6622-success-sun {
  cursor: cell;

  div:first-child {
    transform-origin: center center;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--sun-bg);
    border-radius: 50%;
    box-shadow: 0 0 30px 5px var(--c-pastel-red),
    0 0 60px 5px var(--c-pastel-yellow);
    animation: minded6622successSun ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-duration: 1600ms;
    z-index: 30;
  }

  div:last-child {
    opacity: .5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 31;
    font-weight: 200;
  }
}


#minded-6622-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: auto;
  animation: minded6622fadeIn ease .4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  padding: 32px;
  width: 990px;
  max-width: 100%;
}


@keyframes minded6622fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@keyframes minded6622successSun {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(20);
  }
}

