// NOTE: styles for question work differently since we're using them for the content-script

#minded-6622-coloured-wrapper > * {
  cursor: auto;
}

#minded-6622-sun {
  cursor: cell;

  div:first-child {
    transform-origin: center center;
    width: 50px;
    height: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 30px 5px var(--c-pastel-red),
    0 0 60px 5px var(--c-pastel-yellow);
    animation: minded6622successSun ease 1.6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 30;
  }

  div:last-child {
    opacity: .5;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 31;
  }
}

#minded-6622-action-advice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;

  :last-child {
    font-size: 48px;
    margin-top: 16px;
  }
}

#minded-6622-after-sun {
  cursor: cell;
  position: fixed;
  left: 50%;
  top: 50%;
  background: #fff;
  transform-origin: center center;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: 0 0 30px 5px var(--c-pastel-red),
  0 0 60px 5px var(--c-pastel-yellow);
  animation: minded6622afterSunInOut 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  z-index: 30;
}

@keyframes minded6622successSun {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(20);
  }
}

@keyframes minded6622afterSunInOut {
  0% {
    transform: translate(-50%, -50%) scale(.4);
    opacity: 0;
  }
  10% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
}