// NOTE: this is styled in Interaction.scss
#minded-6622-little-sun-success-sun {

  div:first-child {
    animation: minded6622successSun ease 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
}


#minded-6622-little-sun {
  cursor: cell;
  position: fixed;
  right: 50%;
  top: 50%;
  transform-origin: center center;
  z-index: 30;
  transform: translate(50%, -50%);
  transition: 1s all;
  animation: minded6622littleSunIn .5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;


  &.minded-6622-top-right {
    transform: translate(0, 0);
    top: 40px;
    right: 40px;
    left: auto;
  }
}


#minded-6622-little-sun-sun-wrapper {
  transition: .5s all;
  position: relative;
  z-index: 3;


  &:hover {
    transform: scale(1.5);
  }

}

$sun-size: 40px;
#minded-6622-little-sun-sun {
  cursor: cell;
  transform-origin: center center;
  width: $sun-size;
  height: $sun-size;
  line-height: $sun-size;
  background: var(--little-sun-bg);
  display: block;
  border-radius: 50%;
  //box-shadow: 0 0 30px 5px var(--c-pastel-red),
  //0 0 60px 5px var(--c-pastel-yellow);
  box-shadow: var(--little-sun-shadow);
  text-align: center;
  color: #956969;
  font-weight: 400;
  white-space: nowrap;
}

#minded-6622-little-sun-text {
  color: var(--little-sun-txt-c);
  margin-right: -0.5* $sun-size;
  box-shadow: var(--little-sun-shadow);
  position: absolute;
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  /* transform: translate(-50%); */
  background: var(--little-sun-bg);
  min-width: 200px;
  border-radius: 8px;
  padding: 8px (($sun-size*0.5) + 4px) 8px 8px;
  font-size: var(--litle-sun-txt-fz);
  line-height: 16px;
  text-align: center;
  animation: minded6622littleSunTextIn .15s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;


  &.minded-6622-long-text {
    min-width: 320px;
  }

  &.minded-6622-very-long-text {
    min-width: 520px;
  }

  &.minded-6622-was-NO-answer-given {
    cursor: pointer;
  }
}

#minded-6622-additional-controls {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  transition: .5s opacity;
  transition-delay: 0s;
  gap: 4px;

  #minded-6622-little-sun:hover & {
    opacity: 1;
    pointer-events: all;
    transition-delay: 1s;
  }

  > * {
    margin-top: 16px;
    text-align: center;
    cursor: pointer;
    background: var(--little-sun-bg);
    border: 2px solid rgba(0, 0, 0, 0.6);
    border-radius: var(--border-radius);
    transition: 0.2s;
    font-weight: bold;
    text-transform: lowercase;
    color: var(--little-sun-txt-c);
    width: 28px;
    height: 28px;
    line-height: 28px;
    padding: 0;
    font-size: var(--little-sun-btn-fz);
    user-select: none;
    opacity: .8;

    &:hover {
      transform: scale(1.2);
      opacity: 1;
    }

    &:active {
      transform: scale(0.95);
    }
  }
}


#minded-6622-action-advice {
  @include txtBig();

  :last-child {
    font-size: 48px;
    margin-top: 16px;
  }
}


@keyframes minded6622littleSunIn {
  0% {
    transform: scale(.4);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes minded6622littleSunTextIn {
  0% {
    transform: scale(.5) translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translateY(-50%);
    opacity: 1;
  }
}