// NOTE: styles for question work differently since we're using them for the content-script

#minded-6622-msg {
  @include txtBig();
  color: rgba(0, 0, 0, .8);
  pointer-events: all;
  user-select: none;
  animation: minded6622fadeInAnimation ease-in 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#minded-6622-inp {
  @include formInput();
  padding: 16px;
  margin: auto;
  margin-top: 32px;
  width: 540px;
  max-width: 100%;
  display: block;
  font-size: var(--fz-m);
}

#minded-6622-change-question-btn {
  cursor: pointer;
  opacity: 0.4;
  display: inline-block;
  margin: auto;
  margin-top: 32px;
  height: 52px;
  width: 52px;
  text-align: center;
  line-height: 52px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 50%;


  &:hover {
    opacity: 1;
  }
}


@keyframes minded6622fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

