// NOTE: styles for question work differently since we're using them for the content-script

#minded-6622-msg {
  @include txtBig();
  color: rgba(0, 0, 0, .8);
  pointer-events: all;
  user-select: none;
  animation: minded6622fadeInAnimation ease-in 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#minded-6622-inp {
  @include formInput();
  padding: 16px;
  margin: auto;
  margin-top: 16px;
  min-width: 400px;
  display: block;
  font-size: 22px;
}


@keyframes minded6622fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

