@import "@src/styles/mixins/mixins";

.rating {
  white-space: nowrap;

  &.showOnly {
    &,
    & * {
      pointer-events: none;
    }
  }

  &.showOnly img {
    margin: 0;

    &.isFull {
      color: inherit;
    }
  }


  img {
    opacity: .12;
    width: var(--rating-size);
    height: var(--rating-size);

    cursor: pointer;
    pointer-events: all;
    display: inline-block;
    font-size: var(--rating-size);
    width: var(--rating-size);
    line-height: var(--rating-size);
    color: var(--rating-inactive);
    transition: all ease-in .1s;
    margin: 4px;

    @include onNonMobileScreens {
      &:hover {
        transform: scale(1.6);
        color: var(--c-fg-full-emphasis);
      }
      &:active {
        transform: scale(1.1);
        color: var(--c-fg);
      }
    }

    &.isFull {
      color: var(--c-fg-full-emphasis);
      opacity: 1;
    }

    @include inDarkMode() {
      filter: invert(1);
    }
  }
}
