@import "@src/styles/mixins/mixins";

.rating {
  white-space: nowrap;

  &.showOnly {
    &,
    & * {
      pointer-events: none;
    }
  }

  &.showOnly .ratingButton {
    margin: 0;

    img.isFull {
      color: inherit;
    }
  }

  .ratingButton {
    appearance: none;
    background: none;
    border: 0;
    border-radius: var(--border-radius);
    margin: 4px;
    padding: 0;
    width: var(--rating-size);
    height: var(--rating-size);

    cursor: pointer;
    pointer-events: all;
    display: inline-block;
    line-height: var(--rating-size);
    transition: transform var(--dur-quick) var(--ease-out);

    &:disabled {
      cursor: default;
      opacity: 1;
    }

    @include onNonMobileScreens {
      &:hover {
        transform: scale(1.6);
      }
      &:active {
        transform: scale(1.1);
      }
    }
  }

  img {
    display: block;
    width: var(--rating-size);
    height: var(--rating-size);
    opacity: var(--rating-inactive-opacity);
    transition: opacity var(--dur-quick) var(--ease-out);

    &.isFull {
      color: var(--c-fg-full-emphasis);
      opacity: var(--rating-active-opacity);
    }

    @include inDarkMode() {
      filter: invert(1);
    }
  }
}
