@import "@src/styles/mixins/mixins";

.TimeInput {
  @include formInput(var(--form-inputs-height-smaller));
  background: transparent;
  border-radius: var(--border-radius);
  padding: 4px 12px;
  transition: 0.1s;
  width: 134px;
  min-width: 134px;
  font-size: var(--fz-s) !important;

  &:focus {
    transform: scale(1.02);
    outline: none;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
    transform: none;
  }
}
