#minded-6622 {
  .h2 {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: var(--fz-xl);
    user-select: none;
    pointer-events: all;
  }

  .h4 {
    font-weight: 200;
    margin-bottom: 8px;
    font-size: var(--fz-m);
    user-select: none;
    color: var(--h4-c);
    pointer-events: all;
  }

  .txtBig {
    font-size: var(--fz-xl);
    line-height: 1.2;
    pointer-events: all;
  }

  .txtSmaller {
    font-size: var(--fz-m);
    line-height: 1.2;
    pointer-events: all;
  }

  .userQuote {
    font-size: var(--fz-m);
    line-height: 1.2;
    font-weight: 300;
    pointer-events: all;
  }

  .fatTxt {
    font-size: var(--fz-xl);
    font-weight: 500;
    pointer-events: all;
  }
}

