@import "../../../../styles/mixins/mixins";
@import "../../../../styles/mixins/ani";

.interactionOverlay {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: var(--app-height);
  display: flex;
  justify-content: center;
  align-items: center;

  @include standardPageTransitionIn();

  animation: minded6622fadeIn ease 0.5s !important;
  :global {
    animation-name: minded6622fadeIn !important;
  }
}

.interactionWrapper {
  padding: 32px;
  max-width: 100%;
  margin-top: var(--safe-area-inset-top);
}
