.container {
  padding: 16px;
  text-align: center;
  font-size: var(--fz-xl);
  padding-top: 32px;
  padding-bottom: 32px;

  :global .card {
    margin-top: 16px;
  }

  :global .h2 {
    margin-top: 16px;
    margin-bottom: 0;
  }
}

.innerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.permissionText {
  font-size: var(--fz-m);
  margin-top: 0;
}

.permissionButton {
  margin-top: 16px;
}

.smallText {
  font-size: var(--fz-s);
  margin-top: 16px;
}