.cardDashboard,
.card {
  user-select: none;
  background: var(--dashboard-card-bg);
  border-radius: var(--dashboard-card-border-radius);
  padding: 16px;

  @include onNonMobileScreens() {
    padding: 32px;
  }
}

.cardDashboard {
  padding: 18px 8px;

  @include onNonMobileScreens() {
    padding: 32px;
  }
}
