@import "@src/styles/sharedInteractionOnly";

body {
  background: transparent;
}

#minded-6622 {
  animation: minded6622fadeIn ease .2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

