
#minded-6622-mood-checkin {

  .txt-big {
    padding-bottom: 32px;

    @include onSmallScreens() {
      padding-bottom: 16px !important;
    }
  }

  .btn-wrapper > div {
    @include onSmallScreens() {
      padding-top: 20px !important;
    }
  }

  input {
    @include formInput();
    margin: auto;
    margin-top: 16px;
    min-width: 320px;
    width: 600px;
    //padding: 12px 24px !important;
  }

  .additional-block {
    opacity: 0;
    transition: all 200ms;
    visibility: hidden;
    padding-top: 16px;

    &.isVisible {
      visibility: visible;
      opacity: 1;
    }
  }
}