@import "@src/styles/sharedMain";

.missingCapabilitiesMsg {
  background: #e338f1;
  color: #fff;
  padding: 16px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2147483647;
  z-index: 9999999999999999;
  border-radius: 8px;
  margin: 8px;
}
