@import "./../../../styles/mixins/_mixins.scss";

.AnswerList {


 :global  .userQuote {
    margin-top: 16px;
  }

}


.categoryTitle {
  margin-top: 0;
  margin-bottom: 4px;
  user-select: none;
  position: relative;
  display: inline-block;
  text-transform: lowercase;
}


