@import "./../../../styles/mixins/_mixins.scss";

.AnswerList {

}

.userQuote {
  margin-top: 16px;
  @include usrQuote();
}

.categoryTitle {
  @include h4();
  margin-top: 0;
  user-select: none;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  text-transform: lowercase;
}


