@import "./../../../styles/mixins/_mixins.scss";

.AnswerList {


  :global .dashboardContent {
    margin-top: 8px;

    @include onNonMobileScreens {
      margin-top: 16px;
    }
  }

}


.categoryTitle {
  margin-top: 0;
  margin-bottom: 4px;
  user-select: none;
  position: relative;
  display: inline-block;
  text-transform: lowercase;
}


