@import "./../../../styles/mixins/mixins";

.AnswerList {
  :global .dashboardContent {
    margin-top: 10px;

    @include onNonMobileScreens {
      margin-top: 16px;
    }
  }
}

.categoryTitle {
  margin-top: 0;
  margin-bottom: 4px;
  user-select: none;
  position: relative;
  display: inline-block;
  text-transform: lowercase;
}
