.emoji-checkin-wrapper {
}

.emoji-category {
  padding-bottom: 16px;
  pointer-events: all;
  display: inline-block;
}

.emoji {
  display: inline-block;
  font-size: 40px;
  padding: 4px;
  cursor: pointer;
  pointer-events: all;

  &:hover {
    transform: scale(1.3);
  }
}