#minded-6622-questions-for-today {
  > * {
    margin-bottom: 48px !important;
  }

  .mood-checkin-btns {
    margin-bottom: 0 !important;
  }

  #minded-6622-inp div,
  .btnTxt.isBig,
  .textarea-block,
  .btns {
    display: none !important;
  }
}