.mainWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden !important;
  --companion-top-bar-height: clamp(64px, 10vh, 88px);
  --companion-top-bar-center-y: calc(
    var(--safe-area-inset-top) + clamp(32px, 5vh, 42px)
  );
}

.contentWrapper {
  display: block;
  flex: 1;
  position: relative;
  overflow: auto;
  margin-top: var(--safe-area-inset-top);
}

.withCompanionBar {
  margin-top: calc(
    var(--safe-area-inset-top) + var(--companion-top-bar-height)
  );
}
