.NewTab {

}


.infoBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  animation: minded6622fadeInAnimation ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

@keyframes minded6622fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
