$bpMobile: 650px;
$bpMobileMax: 599px;

$bpDashboardMoreThan1Col: 375px;
$bpDashboardMoreThan2Col: 999px;
$bpDashboardMoreThan2ColMax: 998px;

$pageWrapperMaxWidth: 1200px;
$txtMaxWidth: 900px;

$androidKeyboardOpenClass: ".androidKeyboardOpen";