$bpMobile: 600px;
$bpMobileMax: 599px;

$bpDashboardMoreThan1Col: 375px;
$bpDashboardMoreThan2Col: 999px;

$pageWrapperMaxWidth: 1200px;
$txtMaxWidth: 900px;

$androidKeyboardOpenClass: ".androidKeyboardOpen";