@import "variablesSCSS";

#minded-6622 {
  --border-radius: 8px;
  --c-link-color: rgb(153, 23, 166);

  --fz-xxl: 40px;
  --fz-xl: 32px;
  --fz-l: 24px;
  --fz-m: 19px;
  --fz-s: 14px;
  //--fz-s: 18px;

  --c-fg-full-emphasis: #000;
  --c-fg: rgba(0, 0, 0, .8);

  // global components
  --form-inputs-bg: rgba(255, 255, 255, .55);
  --form-inputs-height: var(--btn-height);
  --form-inputs-height-smaller: 40px;

  --btn-fz: 24px;
  --btn-height: 56px;
  --btn-height-bigger: 64px;
  //--btn-slightly-smaller: 52px;
  --btn-small: 40px;
  --btn-bigger-fz: 30px;
  --btn-bg: #fff;
  --btn-bg-not-selected: rgba(255, 255, 255, .25);
  --btn-bg-selected: rgba(255, 255, 255, 1);
  --btn-outline-color: rgba(0, 0, 0, .1);
  --btn-bg-selectable-hover: rgba(255, 255, 255, .7);
  --btn-selected-scale: 1.1;
  --btn-box-shadow: 0 0 30px 10px  rgba(255, 255, 255, .9);
  // components
  --interaction-txt-size: var(--fz-xl);

  --bottom-bar-height: var(--btn-height);
  --bottom-bar-bg: rgba(255, 255, 255, 0.6);

  --dashboard-card-bg: rgba(255, 255, 255, .35);
  --dashboard-card-bg-hover: rgba(255, 255, 255, .7);
  --dashboard-card-border-radius: 24px;

  --sun-bg: #fff;
  --sun-shadow:  0 0 1px 0 rgba(233, 132, 58, 0.5);

  --c-graph-fg-full: rgba(0, 0, 0, .5);
  --c-graph-fg-less: rgba(0, 0, 0, .3);

  --rating-size: 48px;
  --rating-size-small: 24px;


  --little-sun-bg: #fff;
  --little-sun-shadow: 0 0 6px 1px #e9843a;
  --litle-sun-txt-fz: 13px;
  --litle-sun-counter-fz: 14px;
  --litle-sun-btn-fz: 18px;
  --little-sun-txt-c: rgba(0, 0, 0, .6);

  --success-sun-txt-c: rgba(0, 0, 0, .6);
  --success-sun-ani-scale-1: 16;
  --success-sun-ani-scale-2: 26;
  --success-sun-reduced-ani-scale-1: 14;

  --rating-active-opacity: 0.55;
  --rating-inactive-opacity: 0.15;
  --h4-c: rgba(0, 0, 0, .7);


  //--c-gradient-1: #A5DEE5;
  //--c-gradient-2: #FFCFDF;
  //--c-gradient-3: #FEFDCA;
  --c-gradient-1: #ccf1f6;
  --c-gradient-2: #ffebf6;
  --c-gradient-3: #f4f3b5;

  //@media (prefers-color-scheme: dark) {
  &.minded-6622-dark {
    //--c-gradient-1: #121763;
    //--c-gradient-2: #3c1171;
    //--c-gradient-3: #600f2a;

    --c-gradient-1: #071449;
    --c-gradient-2: #1a137c;
    --c-gradient-3: #401049;

    //background: linear-gradient(175deg, #0b153f, #181357, #300d37);

    --c-fg: rgba(255, 255, 255, .8);
    --c-fg-full-emphasis: #rgba(255, 255, 255, .95);

    --c-graph-fg-full: rgba(255, 255, 255, .8);
    --c-graph-fg-less: rgba(255, 255, 255, .5);

    --bottom-bar-bg: rgba(0, 0, 0, .2);

    --dashboard-card-bg: rgba(0, 0, 0, .35);
    --dashboard-card-bg-hover: rgba(0, 0, 0, .6);

    --c-bg: #444a5b;
    --h4-c: rgba(255, 255, 255, .95);
    --c-bg-btns: rgba(0, 0, 0, .5);
    --form-inputs-bg: rgba(0, 0, 0, .4);
    --btn-bg: rgba(0, 0, 0, .6);
    --btn-bg-selected: rgba(0, 0, 0, 1);
    --btn-bg-selectable-hover: rgba(0, 0, 0, .2);
    --btn-bg-not-selected: rgba(0, 0, 0, .25);
    --btn-outline-color: rgba(255, 255, 255, .3);
    //--btn-box-shadow: 0 0 10px 1px  rgba(255, 255, 255, .8);
    --btn-box-shadow: 0 0 10px 1px rgba(250, 104, 203, 0.8);
  }
}

@media (max-width: $bpMobileMax) {
  #minded-6622 {
    --fz-xxl: 28px;
    --fz-xl: 22px;
    --fz-l: 19px;
    --fz-m: 15px;
    --fz-s: 13px;

    --btn-fz: 20px;
    --btn-bigger-fz: 26px;
    //--btn-slightly-smaller: 48px;
    --btn-height: 48px;
    --btn-height-bigger: 58px;

    --dashboard-card-border-radius: 16px;

    --rating-size: 48px;

    --success-sun-ani-scale-1: 8;
    --success-sun-ani-scale-2: 16;
    --success-sun-reduced-ani-scale-1: 6;

  }
}


// LIGHT
//--c-gradient-1: var(--c-pastel-green);
//--c-gradient-2: var(--c-pastel-red);
//--c-gradient-3: var(--c-pastel-yellow);

// sunset/sunrise
//--c-gradient-1: #EFB495;
//--c-gradient-2: #EFD595;
//--c-gradient-3: #EFD595;

//--c-gradient-1: #FDFDC4;
//--c-gradient-2: #FFE8CF;
//--c-gradient-3: #FFDEDE;

//--c-gradient-1: #FFCFDF;
//--c-gradient-2: #FFE8CF;
//--c-gradient-3: #FDFDC4;


// DARK
//--c-gradient-1: #401F71;
//--c-gradient-2: #824D74;
//--c-gradient-3: #BE7B72;
//
//--c-gradient-1: #150050;
//--c-gradient-2: #3f0071;
//--c-gradient-3: #610994;
//
//--c-gradient-1: #200E3A;
//--c-gradient-2: #38419D;
//--c-gradient-3: #3887BE;
//
//--c-gradient-1: #201658;
//--c-gradient-2: #38419D;
//--c-gradient-3: #98ABEE;
//
//--c-gradient-1: #0B2447;
//--c-gradient-2: #19376D;
//--c-gradient-3: #576CBC;
//
//--c-gradient-1: #0C134F;
//--c-gradient-2: #1D267D;
//--c-gradient-3: #5C469C;

//--c-gradient-1: #090d3a;
//--c-gradient-2: #6d1b85;
//--c-gradient-3: #9f4500;