@import "sharedAll";
@import "componentsMainOnly/componentsMainOnly";

@include allTypo();

.pageTransitionIn {
  @include standardPageTransitionIn();
}

.pageWrapper {
  padding: 16px;

  @include onNonMobileScreens(){
    padding: 32px;
  }
}

.mw {
  max-width: $pageWrapperMaxWidth;
  margin: 0 auto;
}