@import "@src/styles/shared.scss";
@import "@src/shared/components/Question.scss";


#minded-6622 {
  animation: minded6622fadeInAnimation ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes minded6622fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
