@import "@src/styles/shared";
@import "@src/shared/components/interaction/Question";
@import "@src/shared/components/interaction/Interaction";
@import "@src/shared/components/interaction/LittleSun";
@import "@src/shared/components/interaction/energy-lvl/EnergyLvlInteraction";
@import "@src/shared/components/interaction/mood-checkin/MoodCheckin";
@import "@src/shared/components/ui/Rating";


#minded-6622 {
  animation: minded6622fadeInAnimation ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#minded-6622-coloured-wrapper {
  cursor: zoom-out;
  cursor: crosshair;
}

@keyframes minded6622fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
