@import "@src/styles/mixins/mixins.scss";

.dashboardContent {
  display: inline-block;
}

.selfReflectionQuestion {
  td {
    text-align: left;
    padding-top: 8px;
    vertical-align: middle;
  }

  td:first-child {
    padding-right: 8px;

    @include onNonMobileScreens {
      padding-right: 16px;
    }
  }
}

.dots {
  display: flex;
}

.dot {
  background: var(--c-fg);
  opacity: var(--rating-inactive-opacity);
  border-radius: 50%;
  width: 6px;
  height: 6px;
  margin-left: 2px;

  @include onNonMobileScreens {
    width: 8px;
    height: 8px;
    margin-left: 4px;
  }

  &.full {
    opacity: .7;
  }
}