@import '../../../styles/mixins/mixins.scss';

.wrapper {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.interactionWrapper {
  max-width: 100%;
  margin-top: auto;

  > * {
    animation: 1s;

    :global {
      animation-name: minded6622fadeIn;
    }
  }
}

.stepperWrapper {
  margin-top: auto;
  margin-bottom: 8px;

  @include onNonMobileScreens {
    margin-bottom: 32px;
  }
}

.haveAWonderfulDayMsg{
  font-size: 16px;
}