@import "./../../../../styles/mixins/_mixins.scss";

.AnswerEntry {
  position: relative;
  overflow: hidden;
  padding: 8px;
  min-height: 36px;
  min-width: 300px;

  input {
    @include formInput;
  }
}

.editMode {
  animation: minded6622fadeInAnimation ease .2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  display: flex;
  justify-content: stretch;
  gap: 16px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  // leave enough space for btn anis
  padding: 8px;
  max-width: 100%;
  box-sizing: border-box;
  width: 100%;

  input {
    flex: 1;
    min-width: 0;
  }
}

.userQuote {
  font-size: var(--fz-m);
}


@keyframes minded6622fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
