@import "./../../../../styles/mixins/_mixins.scss";

.AnswerList {
  overflow: auto;
  // leave enough space for btn anis
  padding-top: 8px;
}

.answer{}

.userQuote {
  margin-top: 16px;
  font-size: 18px;
}



