@import "./../../../../styles/mixins/_mixins.scss";

.AnswerList {
  overflow: auto;
  padding: 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer {
}

.userQuote {
  margin-top: 16px;
  @include usrQuote();
}


.addItem {
  margin-top: 24px;
}


