@import "../../../../styles/mixins/mixins";

.QuestionCategoryView {
  animation: minded6622fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  max-height: 100vh;
  overflow: auto;
}

.categoryTitle {
  @include h2();
  margin-top: 32px;
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  text-transform: lowercase;

  &:hover {
    cursor: pointer;
    &:after {
      position: absolute;
      left: 100%;
      display: block;
      top: 50%;
      transform: translate(0,-50%);
      content:'↖';
      margin-left: 8px;
      opacity: .8;
    }
  }
}


@keyframes minded6622fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
