#minded-6622 {
    position: fixed;
    z-index: 2147483647;
    z-index: 9999999999999999;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, .4);
}
