.appSelect {
  display: block;
  width: calc(100% - 32px);
  margin: 16px;
  padding: 8px;
  font-size: var(--fz-m);
  border-radius: var(--border-radius);
  border: 1px solid var(--btn-bg);
  background: var(--bg);
  color: var(--fg);
  min-height: 200px;

  option {
    padding: 8px 12px;
    border-radius: 4px;
    margin: 2px 0;

    &:checked {
      background: var(--btn-bg);
    }
  }
}
