@mixin btn($height: var(--btn-height)) {
  border: none;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  height: $height;
  text-align: center;
  opacity: 0.5;
  line-height: $height;
  font-size: var(--btn-fz);
  background: var(--btn-bg);
  text-transform: lowercase;
  box-sizing: border-box;
  color: var(--c-fg);
  pointer-events: all;

  &:hover {
    opacity: 1;
  }
}

@mixin btnIco($height: 56px) {
  @include btn($height);
  width: $height;
}


@mixin btnTxt() {
  @include btn;
  padding: 0 16px;
  font-weight: 300;
}

@mixin btnTxtBigger() {
  @include btn(var(--btn-height-bigger));
  padding: 0 20px;
  font-size: var(--btn-bigger-fz);
}