@import "../variablesSCSS";

@mixin btn($height: var(--btn-height)) {
  border: none;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  height: $height;
  text-align: center;
  opacity: var(--btn-opacity);
  line-height: $height;
  font-size: var(--btn-fz);
  background: var(--btn-bg);
  text-transform: lowercase;
  box-sizing: border-box;
  color: var(--c-fg);
  pointer-events: all;

  &:hover {
    opacity: 1;
  }
}

@mixin btnIco($height: 56px) {
  @include btn($height);
  width: $height;
}


@mixin btnTxt() {
  @include btn;
  padding: 0 16px;
  font-weight: 300;
}

@mixin btnTxtBigger() {
  @include btn(var(--btn-height-bigger));
  padding: 0 20px;
  font-size: var(--btn-bigger-fz);
}

@mixin btnToggleSelect() {
  @include btnTxt;
  margin: 8px;
  user-select: none;
  text-transform: lowercase;
  min-width: 100px;
  transition: .2s all;
  background: var(--btn-bg-not-selected);

  @include onNonMobileScreens(){
    margin: 16px;
  }

  &.isSelected {
    background: var(--btn-bg-selected);
    opacity: 1;
    font-weight: 500;
    border-radius: 16px;
    transform: scale(var(--btn-selected-scale));
  }
}

