@mixin allTypo () {
  .h2 {
    font-weight: 200;
    margin-bottom: 8px;
    font-size: var(--fz-xxl);
    user-select: none;
    pointer-events: all;
    text-transform: lowercase;
  }

  .h3 {
    font-weight: 700;
    margin-bottom: 8px;
    font-size: var(--fz-l);
    user-select: none;
    pointer-events: all;
  }

  .txtBig {
    font-size: var(--fz-xl);
    line-height: 1.5;
    pointer-events: all;
  }

  .txtSlightlyBigger {
    font-size: var(--fz-l);
    line-height: 1.5;
    pointer-events: all;
  }

  .txtSmaller {
    font-size: var(--fz-m);
    line-height: 1.5;
    pointer-events: all;
  }

  // TODO replace with p instead
  .txt {
    line-height: 1.5;
  }

  .fatTxt {
    font-size: var(--fz-xl);
    font-weight: 500;
    pointer-events: all;
  }

  .dashboardHeading {
    font-weight: 200;
    margin-bottom: 8px;
    font-size: var(--fz-s);
    user-select: none;
    color: var(--h4-c);
    pointer-events: all;

    @include onNonMobileScreens {
      font-size: var(--fz-m);
    }
  }

  .dashboardContent,
  .userQuote {
    font-size: var(--fz-s);
    line-height: 1.3;
    font-weight: 300;
    pointer-events: all;
  }

  .dashboardContent {
    @include onNonMobileScreens {
      font-size: var(--fz-m);
    }
  }

}