@import "../variablesSCSS";


@mixin btnBase($height: var(--btn-height)) {
  border: none;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  height: $height;
  text-align: center;
  line-height: $height;
  font-size: var(--btn-fz);
  background: var(--btn-bg);
  text-transform: lowercase;
  box-sizing: border-box;
  color: var(--c-fg);
  pointer-events: all;
  position: relative;
  user-select: none;
  transition: all 50ms;
  font-weight: normal;
  text-decoration: none;
  vertical-align: middle;
  --extraClickArea: -8px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  &:focus {
    outline: 0;
  }

  &:hover {
    box-shadow: var(--btn-box-shadow);
  }

  &:active {
    transition: all 10ms;
    opacity: .8;
    transform: scale(.95);
  }

  &:after {
    content: "";
    position: absolute;
    pointer-events: all;
    right: var(--extraClickArea);
    top: var(--extraClickArea);
    left: var(--extraClickArea);
    bottom: var(--extraClickArea);
  }

  &:disabled {
    &,
    &:hover,
    &:active {
      transition: none;
      cursor: not-allowed;
      opacity: .3;
      transform: scale(1);
    }
  }

  .minded-6622-ico {
    display: inline-block;
    vertical-align: middle;
  }
}

@mixin btnIco($height: var(--btn-height)) {
  @include btnBase($height);
  width: $height;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;

  > .minded-6622-ico {
    margin: 12px;
    flex: 1;

    @include inDarkMode() {
      filter: invert(1);
    }
  }
}

@mixin btnIcoOnly($height: var(--btn-height)) {
  @include btnIco($height);
  background: none;


  &:hover {
    background: var(--btn-bg);
  }

  &.active {
    opacity: .8;
    background: var(--btn-bg);
  }
}


@mixin btnTxt() {
  @include btnBase;
  padding: 0 16px;
  font-weight: 300;

  .minded-6622-ico {
    opacity: var(--btn-opacity);
    margin-bottom: 2px;
  }
}

@mixin btnTxtBigger() {
  @include btnBase(var(--btn-height-bigger));
  padding: 0 20px;
  font-size: var(--btn-bigger-fz);

  .minded-6622-ico {
    opacity: var(--btn-opacity);
    margin-bottom: 2px;
  }
}

@mixin btnToggleSelect() {
  @include btnTxt;
  margin: 8px;
  user-select: none;
  text-transform: lowercase;
  min-width: 100px;
  transition: .2s all;
  background: var(--btn-bg-not-selected);

  @include onNonMobileScreens() {
    margin: 16px;
    --extraClickArea: -16px;
  }

  &:hover {
    background: var(--btn-bg-selectable-hover);
  }

  &.isSelected {
    background: var(--btn-bg-selected);
    opacity: 1;
    //font-weight: 500;
    border-radius: 16px;
    transform: scale(var(--btn-selected-scale));
  }
}

