@import '@src/styles/mixins/mixins';

.bottomBarWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  //padding-bottom: 8px;
  background: var(--bottom-bar-bg);

  //@include onNonMobileScreens {
  &.isOnDashboard {
    @media (min-width: $bpDashboardMoreThan1Col) {
      background: transparent;
      opacity: 0;
      animation: minded6622fadeIn ease 2s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;

      :global {
        animation-name: minded6622fadeIn;
      }
    }
    @media (min-width: $bpDashboardMoreThan2Col) {
      animation-delay: 1.5s;
    }
  }


  > a,
  > div,
  > button {
    margin-left: 16px !important;
    animation: minded6622fadeIn ease 200ms;

    :global {
      animation-name: minded6622fadeIn;
    }

    &:first-child {
      margin-left: 0 !important;
    }
  }
}