.NewTab {

}


.infoBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 320px;
  animation: minded6622fadeIn ease .5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  :global {
    animation-name: minded6622fadeIn;
  }
}


