@import "@src/styles/sharedInteractionOnly";

#minded-6622 {
  animation: minded6622fadeIn ease .2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  //cursor: crosshair;
}

#minded-6622-coloured-wrapper {
  //cursor: zoom-out;
  //cursor: crosshair;
}


