@import "@src/styles/sharedInteractionOnly";

:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2147483647;
}

#minded-6622 {
  animation: minded6622fadeIn ease 0.2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
